<body>
<header class="header">
        <!-- TOPO -->
        <div class="header-top">
            <div class="container">

                <div class="header-contact">
                    <a href="#">
                        <i class="fa-regular fa-comment"></i>
                        Fale Conosco
                    </a>

                    <a href="tel:+5518996168067">
                        <i class="fa-solid fa-phone"></i>
                        (18) 99616-8067
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-whatsapp"></i>
                        (18) 99616-8067
                    </a>
                </div>

                <div class="header-user-links">
                    <a href="#">
                        <i class="fa-regular fa-file-lines"></i>
                        Meus Pedidos
                    </a>

                    <a href="#">
                        <i class="fa-regular fa-user"></i>
                        Minha Conta
                    </a>
                </div>

            </div>
        </div>

        <!-- PRINCIPAL -->
        <div class="header-main">
            <div class="container">

                <div class="logo">
                    <a href="./index.html">
                        <img class="logoTema" alt="FLBBQ">
                    </a>
                </div>

                <form class="search-box">
                    <input type="text" placeholder="Digite o que você procura" id="pesquisarInput">
                    <button id="pesquisarIco">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

                <div class="header-actions">

                    <button class="menu-mobile-btn" id="testeBTN">
                        <i class="fa-solid fa-bars"></i>
                    </button>

                    <a href="#" class="account">
                        <i class="fa-regular fa-user"></i>

                        <div>
                            <span>Entrar</span>
                            <small>ou cadastre-se</small>
                        </div>
                    </a>

                    <a href="#" class="cart">
                        <i class="fa-solid fa-cart-shopping"></i>

                        <div>
                            <span>Carrinho</span>
                            <small>R$ 0,00</small>
                        </div>

                        <span class="cart-badge">0</span>
                    </a>

                    <div class="toggle">

                        <input type="checkbox" id="toggleTema">

                        <label for="toggleTema" class="toggle-btn">

                            <span class="button"></span>

                            <span class="icon sol">
                                <i class="fa-solid fa-sun"></i>
                            </span>

                            <span class="icon lua">
                                <i class="fa-solid fa-moon"></i>
                            </span>

                        </label>

                    </div>

                    
                    

                </div>

            </div>
        </div>
        <hr>

                <!-- MENU -->
        <nav class="navbar">
            <div class="container">

                <ul>
                    <li><a href="#">Bonés Importados</a></li>
                    <li><a href="#">Vestuário</a></li>
                    <li><a href="#">Térmicos</a></li>
                    <li><a href="#">Cerveja</a></li>
                    <li><a href="#">Abridores de Garrafa</a></li>
                    <li><a href="#">Bolsas e Mochilas</a></li>
                    <li><a href="#">Cadeiras e Decoração</a></li>
                    <li><a href="#">+ Categorias</a></li>
                </ul>

            </div>
        </nav>

        <!-- MENU MOBILE -->
        <div class="menu-mobile">

            <div class="menu-mobile-header">

                <h3>Menu</h3>

                <button class="menu-mobile-close">
                    <i class="fa-solid fa-xmark"></i>
                </button>

            </div>

            <hr>

            <a href="#">
                <i class="fa-regular fa-user"></i>
                <span>Minha Conta</span>
            </a>

            <a href="#">
                <i class="fa-regular fa-file-lines"></i>
                <span>Meus Pedidos</span>
            </a>

            <a href="#">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Carrinho</span>
            </a>

            <a href="#">
                <i class="fa-solid fa-phone"></i>
                <span>Contato</span>
            </a>

            <a href="#">
                <i class="fa-brands fa-whatsapp"></i>
                <span>WhatsApp</span>
            </a>

        </div>

        <div class="menu-overlay"></div>
</header>
</body>