/*======================================
            CATEGORIAS
=======================================*/

#categorias{

    width: 100%;

    max-width: var(--container-width);
    transform: translateY(-7vh);
    margin: 60px auto;

}

#categorias h2{
    margin-left: 4vh;
}

/*============================
        TÍTULO
=============================*/

.categoria-title{

    font-family: var(--font-secund);

    font-size: 1.2rem;

    color: var(--white);

    text-transform: uppercase;

    margin-bottom: 1vh;

}

/*============================
    CONTAINER DAS CATEGORIAS
=============================*/

.categoria-container{

    display: flex;

    padding: 0px 2vh;

    justify-content: space-around;

    align-items: center;

}

/*============================
        CARD
=============================*/

.categoria{

    width: 120px;

    display: flex;

    flex-direction: column;

    align-items: center;

    cursor: pointer;

    transition: var(--transition-normal);

}

/*============================
    CÍRCULO DA IMAGEM
=============================*/

.categoria-img{

    width: 125px;

    height: 125px;

    border-radius: 50%;

    border: 1px solid rgba(255,255,255,.18);

    background: var(--black-light);

    display: flex;

    justify-content: center;

    align-items: center;

    overflow: hidden;

    transition: .3s;

}

/*============================
        IMAGEM
=============================*/

.categoria-img img{

    width: 78%;

    transition: .35s;

}

/*============================
        TEXTO
=============================*/

.categoria h3{

    margin-top: 15px;

    font-family: var(--font-primary);

    font-size: .8rem;

    color: var(--white);

    text-align: center;

    line-height: 1.2;

    font-weight: 500;

}

/*============================
        HOVER
=============================*/

.categoria:hover .categoria-img{

    border-color: var(--gold);

    box-shadow: 0 0 18px rgba(201,162,39,.35);

}

.categoria:hover img{

    transform: scale(1.08);

}

.categoria:hover h3{

    color: var(--gold);

}


/*====================================
        TODAS AS CATEGORIAS
====================================*/

#TodasCategorias .categoria-img img{

    transition: opacity .35s ease,
                transform .35s ease;

}

/* Classe usada pelo JavaScript */

#TodasCategorias .categoria-img img.fade{

    opacity:0;

    transform:scale(.92);

}