/* ---------------------------------
    IMPORTS DOS ELEMENTOS VISUAIS
--------------------------------- */
@import url(../components/header/style.css); /* CSS DO HEADER */
@import url(../components/footer/style.css); /* CSS DO FOOTER */
@import url(../assets/CSS/banner.css); /* CSS DO BANNER */
@import url(../../src/assets/CSS/categorias.css); /* CSS DAS CATEGORIAS IMG */
@import url(../../src/assets/CSS/produtos.css); /* CSS DA PARTE DE LISTAGEM DE PRODUTOS */
@import url(../assets/CSS/marcas.css); /* CSS DAS MARCAS PARCEIRAS */


/* ---------------------------------
    FONTS PRINCIPAIS DO SITE
--------------------------------- */
@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Sora";
    src: url(../assets/fonts/Sora/static/Sora-Regular.ttf);
}

:root{

    /*==================================================
                        CORES BASE
    ==================================================*/

    /* Fundo principal do site */
    --principal-bg: #111111;

    /* Fundo para hover e elementos ativos */
    --houver-bg: #1c1b1b;

    /* Fundo de cards, header, footer e menus */
    --invertido-bg: #F4F1E8;

    /*==================================================
                        TEXTOS
    ==================================================*/

    /* Cor principal dos títulos */
    --principal-texto-cor: #F1F1F1;

    /* Texto sobre fundos claros */
    --invertido-texto-cor: #181818;
    
    --gray: #303030;
    --gray-light: #ececec;

    /*==================================================
                    CORES DA MARCA
    ==================================================*/

    /* COR SECUNDARIA ELEMENTS SITE */
    --color-secondary: #587a22;
    --color-secondary-hover: #618d1f;
    --color-secondary-light: #79af37;
    --color-secondary-dark: #233709;

    /*==================================================
                CORES DE DESTAQUE
    ==================================================*/

    /* COR PRINCIPAL ELEMENTS SITE */
    --color-primary: #764714;
    --color-primary-hover: #995f26;
    --color-primary-light: #b36f2c;
    --color-primary-dark: #4c2c08;



    /*==================================================
                        STATUS
    ==================================================*/

    /* Sucesso */
    --sucesso: #17af3d;

    /* Erro */
    --erro: #9e1313;

    /* Aviso */
    --aviso: #b97d15;

    /* Informação */
    --info: #1961ae;



    /*==================================================
                        FONTES
    ==================================================*/

    /* Fonte dos títulos */
    --font-principal: "Poppins", sans-serif;

    /* Fonte dos textos */
    --font-secundaria: "Sora", sans-serif;



    /*==================================================
                        BORDAS
    ==================================================*/

    /* Pequena */
    --radius-sm: 6px;

    /* Média */
    --radius-md: 10px;

    /* Grande */
    --radius-lg: 16px;

    /* Circular */
    --radius-full: 999px;



    /*==================================================
                        SOMBRAS
    ==================================================*/

    /* Pequena */
    --shadow-sm: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;

    /* Média */
    --shadow-md: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;;

    /* Grande */
    --shadow-lg: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;



    /*==================================================
                        TRANSIÇÕES
    ==================================================*/

    /* Rápida */
    --transicao-sm: .2s;

    /* Normal */
    --transicao-md: .3s;

    /* Lenta */
    --transicao-lg: .5s;

}

/*====================================
            RESET
====================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

html{
    scroll-behavior: smooth;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
}

input{
    border: none;
    outline: none;
    font-family: var(--font-secundaria);
}

ul{
    list-style: none;
}

hr{
    border: 1px solid var(--principal-texto-cor);
}


/* =========================
   FONTES
========================= */

body{
    width: auto;
    height: auto;
    color: var(--principal-texto-cor);
    background: var(--principal-bg);
}

/* Container central da página */
.container{
    width:min(1400px,95%);
    margin:auto;
}

main{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transicao-lg);
}