<footer>
        <div class="container footer-container">

            <!-- Logo -->

            <div class="footer-logo">

                <img class="logoTema" alt="FLBBQ">

                <p>
                    Os melhores produtos para quem vive o verdadeiro
                    outdoor.
                </p>

                <div class="footer-social">

                    <!-- Instagram -->
                    <a href="https://instagram.com/flbbq" target="_blank" aria-label="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <!-- WhatsApp -->
                    <a href="https://api.whatsapp.com/send/?phone=5518996168067&text=Seja+bem+bem+vindo+ao+FLBBQ%2C+em+que+posso+te+ajudar+hoje" target="_blank" aria-label="WhatsApp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>

                    <!-- E-mail -->
                    <a href="mailto:contato@flbbq.com.br" aria-label="E-mail">
                        <i class="fa-regular fa-envelope"></i>
                    </a>

                    <a href="https://www.google.com/maps/search/?api=1&query=Av.+Cel.+José+Soares+Marcondes,+3364+-+Jardim+Bongiovani,+Presidente+Prudente+-+SP,+19050-230" target="_blank" aria-label="Nossa localização">
                        <i class="fa-solid fa-map-location-dot"></i>
                    </a>

                </div>

            </div>

            <!-- Newsletter -->

            <div class="footer-news">

                <h3>Receba nossas ofertas</h3>

                <p>
                    Cadastre-se e receba ofertas exclusivas.
                </p>

                <form>

                    <input
                        type="number"
                        placeholder="Informe seu CEP"
                        onclick="whasapp('cep')" onkeypress="whasapp('cep')"
                    >

                    <button>

                        <i class="fa-solid fa-paper-plane"></i>

                    </button>

                </form>

            </div>

            <!-- Institucional -->

            <div class="footer-links">

                <h3>Institucional</h3>

                <ul>

                    <li><a href="#">Quem Somos</a></li>

                    <li><a href="#">Política de Privacidade</a></li>

                    <li><a href="#">Trocas e Devoluções</a></li>

                    <li><a href="#">Formas de Pagamento</a></li>

                    <li><a href="#">Contato</a></li>

                </ul>

            </div>

            <!-- Atendimento -->

            <div class="footer-contact">

                <h3>Atendimento</h3>

                <ul>

                    <li>

                        <i class="fa-brands fa-whatsapp"></i>

                        (18) 99616-8067

                    </li>

                    <li>

                        <i class="fa-solid fa-phone"></i>

                        +55 18 996168067

                    </li>

                    <li>

                        <i class="fa-regular fa-envelope"></i>

                        flbbq@hotmail.com

                    </li>

                </ul>

            </div>

        </div>

        <div class="footer-bottom">

            <div class="container">
                <p>
                    © 2026 FLBBQ - Todos os direitos reservados. CNPJ: 38.906.273/0001-72
                </p>
            </div>

            <div class="dev-area">

                <a
                    href="https://www.linkedin.com/in/joaofilipeleandro16"
                    target="_blank"
                    class="dev"
                >
                    Desenvolvido por João Felipe
                </a>

                <div class="dev-card">

                    <h4>João Felipe Leandro dos Santos</h4>

                    <span>Desenvolvedor Web</span>

                    <p>
                        Criador do site oficial da FLBBQ.<br>
                        Projeto desenvolvido em 2026 aos 16 anos,
                        focado em performance, responsividade e
                        experiência do usuário.
                    </p>

                    <small><a href="https://filiple15.github.io/projetosGerais/SiteAcessos/index.html">Ver redes de contato →</a></small>

                </div>

            </div>

        </div>

        <a href="https://api.whatsapp.com/send?phone=5518996168067&text=Olá!%20Gostaria%20de%20conversar%20com%20a%20equipe%20da%20FL%20Outdoors.%20Encontrei%20o%20contato%20pelo%20site%20e%20gostaria%20de%20tirar%20algumas%20dúvidas." class="btn-contato" target="_blank">
            <img src="./src/assets/imgs/ico/whatsapp.png" alt="Contato">
        </a>

</footer>
